
<img src="../assets/image 35.png" class="backgroundimg"style="width: 360px; opacity: 0.9; filter:contrast(160%); position: relative;z-index: -1;">  

<h1 style="font-size: 165%;letter-spacing: 5px;margin-left: 0px;color: white;position:absolute;margin-top: -200px;">SCHEDULE MEETING</h1>
<form style="margin-top: -150px; width: 340px;height:650px;margin-left: 10px;background-color: black;" ><br>


<h1 style="font-size: 130%; color:#00AC2C;letter-spacing:  2px;margin-left: 50px;">Let’s Plan Our Business</h1>
   <div >
    <label >First Name <img src="../assets/star.png" style="width: 8px;"></label><br>
    <input type="text" placeholder="Enter The School Name" required></div>
   <div >
    <label>Last Name <img src="../assets/star.png" style="width: 8px;"></label><br>
    <input type="text" placeholder="Enter The School Name" required></div>
    <div >
        <label>Email <img src="../assets/star.png" style="width: 8px;"></label><br>
        <input type="text"placeholder="Enter Email Address" required></div>
       <div  >
        <label>WhatsApp Number <img src="../assets/star.png" style="width: 8px;"></label><br>
        <input type="text"placeholder="Enter WhatsApp Number" required></div>


<div>
    <label for="" >User Type<img src="../assets/star.png" style="width: 8px;"></label><br>
    
    <select required>
    <option >Service Providers</option>
    <option >Vendors</option>
    <option >Sponsors</option>
    </select>
</div>
<div style="float: left;">
    <div> 
    <label style="margin-left: 25px;">Date</label><br>
    <select style="width: 130px; margin-left:25px;padding: 10px 5px;" formControlName="Date" >
        <option >Tue - 11th August</option>
        <option >Wed - 12th August</option>
        <option>Thu - 13th August</option>
        <option >Fri - 14th August</option>
        </select></div>
   <div style="margin-top: -85px; margin-left: 180px;">
    <label style="margin-left:0px;">Time</label><br>
    <select style="width: 120px; margin-left: 0px;padding:10px 5px;"formControlName="Time">
        <option >12:00 Pm </option>
        <option >1:00 Pm</option>
        <option >2:00 Pm</option>
        <option >3:00 Pm</option>

        </select> </div></div><br><br><br>

<button style="width: 280px;margin-left: 30px; background-color: #1DCB8B;color: white;padding: 10px;border: 1px solid #1DCB8B;font-size: 150%; font-weight: bolder;">Submit</button>


</form>

<br>

<div class="footer" style="background-color: #151A2C; height: 1600px; width: 360px;">
      
  <div style=" font-size: 130%;" >
<pre style="color: whitesmoke; margin-top:30px;margin-left: 0px;">
It is a long established fact that 
a reader will be distracted by
the readable content of a page 
when looking at its layout. The
point of using Lorem Ipsum is
that it has a more
    </pre>
  </div>
  <div >
   
      <ul style="font-size:130%;margin-top: -50px;" >
        <li><b>Service</b></li><br>
        <li><a href="#">Investor</a></li>
        <li><a href="#">Sponsors</a></li>
        <li><a href="#">Service Providers</a></li>
        <li><a href="#">Vendors</a></li>
        <li><a href="#">Volunteer's</a></li>
        <li><a href="#">NGO's</a></li>
      </ul>
  
  </div>
  <div>
    <ul style="font-size:130%;margin-top: -50px;">
      <li><b>Company</b></li><br>
      <li><a href="#">Service</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div >
   <p style="font-size:130%;margin-top: -50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
    <br>
    <form>
      <label for="">Your Email</label><br><br><br>
      <input type="email" placeholder="Enter Your Email" style="margin-left: -20px;"><br><br><br>
      <button>Subscribe</button>
    </form><br><br>
   
  </div><br>
<div style="border-top: 2px solid rgb(0, 179, 255); width: 280px; margin-left: 10px;">
  <div >
      <img src="../assets/carbon_location.png" style="margin-left: -40px;width: 36px;">
      <p style="color: white; margin-top: -45px; margin-left: 30px;">
        8819 Ohio St. South Gate,
        CA 90280</p>
      </div>
      <div style="margin-top: -50px;">
          <img src="../assets/fluent_call-32-regular.png"  style="width: 36px; margin-left: -40px;">
          <p style="color: white; margin-top: -40px; margin-left:30px;">+1 386-688-3295</p>
        </div>
</div>

  
  </div>


