
<img src="../assets/image 35.png" class="backgroundimg"style="width: 360px; opacity: 0.9; filter:contrast(160%); position: relative;z-index: -1;">  


<h1 style="font-size: 200%;letter-spacing: 5px;margin-left: 70px;"> PAYMENT</h1>

<div style="margin-top: 0px;margin-left: 0px;">
    <form style="width: 360px; background-color: black;">
<p style="color: rgb(72, 227, 98); font-size: 130%;"><b> Payment</b> </p>
<p style="   font-size: 120%;font-weight: bolder;color: white;">Select a payment method</p>
    <input type="radio" value="Credit/ Debit Card" id="Credit/ Debit Card" style="margin-left: -120px;">
    <label style="margin-left: -120px;"><img src="../assets/Vector.png" style="width: 30px;">Credit/ Debit Card</label> 


    <p style=" font-size: 120%;font-weight: bolder;color: white;">Saved Cards</p>
    <img src="../assets/23.png" style="width: 200px;margin-left: 80px;"><br><br>
    <P style="font-size: 120%;font-weight: bolder;color: red;">Add New Card</P>
   
    <label>Name on Card</label><br>
    <input type="text"><br>
    <label>Card Number</label><br>
    <input type="text"><br>
    <div>
        <div style="float: left;">
            <label>Expiry Date</label><br>
            <input type="text" style="width: 50px;"><span style="color: white;font-size: xx-large;font-weight: bolder;margin-left: 6px;margin-top: 4px;">/</span> 
            <input type="text" style="width: 50px; margin-left: -1px; "  >
        </div>
        <div style="margin-left: 0px;">
            <label >CCV </label><br>
            <input type="password" style="width: 50px;"> 
            
        </div>

    </div>
<br><br>
    <button style="background-color: #1DCB8B; border: 1px solid #1DCB8B;font-size: 130%; letter-spacing: 4px;color: black; padding: 10px; width: 300px;margin-left: 30px;font-weight: bolder;">PAY</button>
<br><br><br>
<p style="color: white;font-size: 120%;font-weight: bolder;margin-left: 20px;">select another payment method</p>

    <input type="radio" value="UPI" id="UPI" style="margin-left: -120px;">
    <label style="margin-left: -120px;"><img src="../assets/image 47.png" style="width: 30px;">   UPI</label ><br>
    <input type="radio" value="PayPal" id="PayPal"style="margin-left: -120px;">
    <label style="margin-left: -120px;"><img src="../assets/PayPal.png" style="width: 30px;">   PAYPAL</label><br>
    <input type="radio" value="GooglePay" id="GooglePay"style="margin-left: -120px;">
    <label style="margin-left: -120px;"><img src="../assets/GooglePay.png" style="width: 30px;">   GooglePay</label ><br>
    <input type="radio" value="Net Banking" id="Net Banking" style="margin-left: -120px;">
    <label style="margin-left: -120px;"><img src="../assets/ic_baseline-laptop.png" style="width: 30px;">  Net Banking</label><br>

    <button style="background-color: #1DCB8B; font-size: 130%; border: 1px solid #1DCB8B; letter-spacing: 4px;color: black; padding: 10px; width: 300px;margin-left: 30px;font-weight: bolder;">Proceed Payment</button>
</form>

</div>

<div class="footer" style="background-color: #151A2C; height: 1600px; width: 360px;">
      
    <div style=" font-size: 130%;" >
  <pre style="color: whitesmoke; margin-top:30px;margin-left: -30px;">
  It is a long established fact that 
  a reader will be distracted by
  the readable content of a page 
  when looking at its layout. The
  point of using Lorem Ipsum is
  that it has a more
      </pre>
    </div>
    <div >
     
        <ul style="font-size:130%;margin-top: -50px;" >
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div>
      <ul style="font-size:130%;margin-top: -50px;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:130%;margin-top: -50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
<label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="Enter Your Email" style="margin-left: -20px;"><br><br><br>
        <button>Subscribe</button>
      </form><br><br>
     
    </div><br>
  <div style="border-top: 2px solid rgb(0, 179, 255); width: 280px; margin-left: 10px;">
    <div >
        <img src="../assets/carbon_location.png" style="margin-left: -40px;width: 36px;">
        <p style="color: white; margin-top: -45px; margin-left: 30px;">
          8819 Ohio St. South Gate,
          CA 90280</p>
        </div>
        <div style="margin-top: -50px;">
            <img src="../assets/fluent_call-32-regular.png"  style="width: 36px; margin-left: -40px;">
            <p style="color: white; margin-top: -40px; margin-left:30px;">+1 386-688-3295</p>
          </div>
  </div>
  
    
    </div>

